{
    "presets": ["env", "stage-1", "react"],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-decorators"
    ]
}
