@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: visible;
}


.input {
    margin: 20px 2rem 5px;
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid #9fe7a4;
    width: 75%;
}


.error {
    color: #f9dcb2;
    text-align: center;
    align-self: center;
    font-weight: 400;
    margin: 0 30px;
}

a {
    text-decoration: none;
}
