@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.input {
    margin: 20px 2rem 5px;
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid #4481eb;
    width: 75%;
}


.error {
    color: #ff5252;
    text-align: center;
    align-self: center;
    font-weight: 400;
    margin: 0 30px;
}
