@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: visible;
}


input {
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid rgba(255, 255, 255, 0.8);
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
    width: 200px;
}

hr {
    height: 1px;
    width: 100%;
    margin: 2.5px 0 10px 0;
    opacity: 0.25;
}

.error {
    color: #000;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 12px
}

a {
    text-decoration: none;
}
